%p#notice= notice

%p
  %b Name:
  = @courier.name
%p
  %b Email:
  = @courier.email

= link_to edit_courier_path(@courier) do
  %i.fas.fa-edit
  Edit
\|
= link_to couriers_path do
  %i.fas.fa-arrow-left
  Back

= link_to new_package_path do
  %i.fas.fa-box-open
  Add new package